<header class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <% if current_user %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <% end %>

    <%= link_to t('app_name'), root_url, class: 'navbar-brand' %>
  </div>

  <% if current_user %>
    <nav class="navbar-responsive-collapse collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <%= menu_item_for User, users_path %>
      </ul>

      <%= render partial: 'shared/nav_search' %>
      <%= render partial: 'shared/user_actions' %>
    </nav>
  <% end %>
</header>
