@import 'bootstrap';

@mixin box-shadow($h-offset: 0em, $v-offset: 0em, $blur-offset: .25em, $color: #999) {
  -moz-box-shadow: $h-offset $v-offset $blur-offset $color;
  -webkit-box-shadow: $h-offset $v-offset $blur-offset $color;
  box-shadow: $h-offset $v-offset $blur-offset $color;
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($time, $property, $function) {
  -moz-transition: $time $property $function;
  -webkit-transition: $time $property $function;
  transition: $time $property $function;
}


.form-actions {
  margin-top: 3em;
  @extend .well;
  @extend .well-sm;
}

html, body, .container {
  background-color: #eee;
}

body {
  padding-top: 60px;

  .container > .content {
      background-color: #fff;
      padding-top: 10px;
      @include border-radius(0 0 6px 6px);
      @include box-shadow(0, 1px, 2px, rgba(0,0,0,.15));
    }

    .form-inputs {
      padding: 6px 20px 18px;
    }

    .container-fluid {
      margin-right: 4em;
      margin-left: 4em;
    }
}


body[data-action="index"] {
  .pagination, .page-entries {
    margin-left: 20px;
  }

  .page-entries {
    font-size: .8em;
    margin-top: -18px;
  }
}

body[data-action="index"],
body[data-action="show"] {
  .form-actions {
    padding-left: 20px;
  }
}

.readonly-data {
  margin: 0px 20px;
}
